<h2>{{this.name}}</h2>
<p>seu melhor álbum de studio é: {{this.bestAlbum}}</p>
<p>uma de suas melhores músicas é: {{this.bestSong}}</p>
<p>local onde nasceu:{{this.local}}</p>



<p><a href="/mcs/{{this.name}}">Ver mais</a></p>
